/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Corpo */
  body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Variáveis de cores */
  :root {
    --bg-color-light: #ffffff;
    --bg-color-dark: #0f0f0f;
    --text-color-light: #0f0f0f;
    --text-color-dark: #f0f0f0;
    --primary-color: #00d9ff;
    --header-footer-bg-light: #f1f1f1;
    --header-footer-bg-dark: #1a1a1a;
    --btn-bg-light: #00d9ff;
    --btn-bg-dark: #006080;
  }
  
  /* Modo Claro */
  body.light-mode {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
  }
  
  header, footer {
    background-color: var(--header-footer-bg-light);
  }
  
  header a, footer a {
    color: var(--primary-color);
  }
  
  .btn {
    background-color: var(--btn-bg-light);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #007acc;
  }
  
  /* Modo Escuro */
  body.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
  }
  
  header, footer {
    background-color: var(--header-footer-bg-dark);
  }
  
  header a, footer a {
    color: var(--primary-color);
  }
  
  .btn {
    background-color: var(--btn-bg-dark);
  }
  
  .btn:hover {
    background-color: #004d66;
  }
  
  /* Navegação */
  header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Seções */
  section {
    padding: 2rem;
    margin: 2rem 0;
  }
  
  h1, h2 {
    color: var(--primary-color);
  }
  
  .social-icons a img {
    width: 30px;
    margin: 0 10px;
  }
  
  .social-icons a {
    text-decoration: none;
  }
  
  /* Estilo do botão do WhatsApp */
  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .whatsapp-button img {
    width: 30px;
    height: 30px;
  }
  
  /* Títulos e Parágrafos */
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p, ul {
    font-size: 16px;
    line-height: 1.6;
  }
  
  /* Estilo das listas */
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  /* Estilo do footer */
  footer {
    padding: 1rem;
    text-align: center;
  }
  
  /* AOS Animations */
  [data-aos="fade-up"], [data-aos="fade-down"] {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s;
  }
  
  [data-aos="fade-up"].aos-animate, [data-aos="fade-down"].aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
  